 @using EntityLayer.Concrete
 @model List<IlgiAlanlari>
 <section class="resume-section" id="interests">
                <div class="resume-section-content">
                    <h2 class="mb-5">İlgi Alanlarim</h2>
              <ul class="fa-ul mb-0">


            @foreach(var item in Model)
            {
                
            
            <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            @item.ilgiAlanAdi
                        </li>
                     }
                    </ul>
                </div>
            </section>